<%- include("./templates/header.ejs")  %>
<%- include("./templates/nav_resto.ejs") %>

    <main class="mainStye">
        <h1><%= titulo %></h1>
        <p><%= msg %></p>
    </main>

<%- include("./templates/footer.ejs")  %>